 <div class="jumbotron">
	<h2>Ultra fast phoneword converter </h2><br/>
	<input id="phoneword" ng-model='ActualValue' class="btn-large btn" autofocus ></input>
	<br/><br/>
	<input id="phonenumber" disabled="disabled" value="{{ActualValue | ChangeToPhoneNumber}}" class="btn btn-large btn-info disabled"></input>	
	<br/><br/>
	<p class="lead">Have you ever confused with the alphabets in the phone numbers? The above phoneword converter helps you to find the equivalent phone number in the phone keyboard. It will convert the phoneword to actual phone number as you type. Yes.. It is ultra-fast.</p>
</div>
<p>
	<b>Tip:</b> Haven't you heard any phonewords? Try these <a class="label label-info" ng-click=" ActualValue ='1-800-FED-INFO';">1-800-FED-INFO</a>, <a class="label label-info" ng-click=" ActualValue ='1800-TRAVEL';">1800-TRAVEL</a>, <a class="label label-info" ng-click=" ActualValue ='1300 FOXTEL';">1300 FOXTEL</a> and <a href="#/examples
	" class="label label-info">more</a>
</p>
